# Ignore node_modules in the root directory
node_modules/

# Ignore node_modules in the client directory
client/node_modules/

# Ignore node_modules in the server directory
server/node_modules/

# Ignore OS-specific files
.DS_Store
Thumbs.db

nomnom-venv/